<!DOCTYPE html>
<html lang="en" ng-app="hotsheet">
<head>
  <meta charset="UTF-8">
  <title>Ryan's Hotsheet</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div id="hotsheet" ng-controller="hotsheetCtrl">

    <div class="section">

      <h2 class="banner">Working on Today, {{date}}</h2>

      <div class="client" ng-repeat="client in clients">

        <h3>{{client.name}}</h3>
        <ul>
          <li class="{{job.status}}" ng-repeat="job in client.today">
            <span ng-click="edit(job)">{{job.item}}</span>
            <form ng-submit="save(job)" ng-show="job.edit">
              <input type="text" ng-model="job.item">
            </form>
          </li>
        </ul>

      </div>

    </div>


    <div class="section">

      <h2 class="banner">Hotsheet</h2>

      <div class="client" ng-repeat="client in clients">

        <h3>{{client.name}}</h3>
        <ul>
          <li class="{{project.status}}" ng-repeat="project in client.projects">
            {{project.name}} &ndash;
            <span class="{{task.status}}" ng-repeat="task in project.tasks">
              {{task.item}}<span ng-show="task.due"> ({{task.due}})</span>,
            </span>
            (ATV {{project.atv}})
            <span class="alert" ng-hide="project.jof">
              need JOF
            </span>
          </li>
        </ul>

        <div class="meeting">
          <p class="{{client.meeting.status}}">
            Next {{client.name}} Meeting: {{client.meeting.date}}
            <span class="alert" ng-hide="client.meeting.jof">
              need JOF
            </span>
          </p>
          <ul>
            <li class="{{board.status}}" ng-repeat="board in client.meeting.boards">
              {{board.board}}
            </li>
          </ul>
        </div>

      </div>

    </div>

    <br><br><br><br><br>
  </div>

  <script src="js/vendor/angular/angular.min.js"></script>
  <script src="js/ng-hotsheet.js"></script>

</body>
</html>